<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EAD-ASSIGNMENT_04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>com.metacube.get2019.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/loginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpPageServlet</servlet-name>
    <servlet-class>com.metacube.get2019.SignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpPageServlet</servlet-name>
    <url-pattern>/signUpPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VehicleRegistrationServlet</servlet-name>
    <servlet-class>com.metacube.get2019.VehicleRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegistrationServlet</servlet-name>
    <url-pattern>/vehicleRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPassServlet</servlet-name>
    <servlet-class>com.metacube.get2019.GetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassServlet</servlet-name>
    <url-pattern>/getPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPassPriceServlet</servlet-name>
    <servlet-class>com.metacube.get2019.GetPassPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassPriceServlet</servlet-name>
    <url-pattern>/getPassPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFriendsServlet</servlet-name>
    <servlet-class>com.metacube.get2019.GetFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriendsServlet</servlet-name>
    <url-pattern>/getFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>com.metacube.get2019.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/showProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.metacube.get2019.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/editProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.metacube.get2019.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.metacube.get2019.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.metacube.get2019.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/loginPageServlet/*</url-pattern>
  </filter-mapping>
</web-app>